@charset "UTF-8";

hr {
    margin-top: 0px;
}

.roomguide-btn {
    position: relative;
    font-size: 16px;
    color: var(--color-text-main);
    background-color: var(--color-btn-main);
    border: 1px solid var(--color-border-main);
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 32px;
    border-radius: 5px;
    padding-left: 12px;
    margin-bottom: 0.4em;
    text-align: left;
}

.roomguide-search-btn {
    position: relative;
    font-size: 18px;
    background: linear-gradient(to right, #272727 0%, #646464 100%);
    color: #ffffff;
    box-shadow: inset 0 0 0 1.5px rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 42px;
    padding: 5px 20px;
    font-weight: bold;
    cursor: not-allowed;
    margin-top: 12px;
}

@media (prefers-color-scheme: light) {
    :root:not([data-theme="dark"]) .roomguide-search-btn:not(.activated) {
        background: linear-gradient(to right, #777777 0%, #a4a4a4 100%);
        color: #e9e9e9;
        box-shadow: inset 0 0 0 1.5px rgba(255, 255, 255, 0.3);
    }
}

.roomguide-search-btn.activated {
    background: var(--main-gradient);
    cursor: pointer;
}

.map-card {
    background-color: var(--color-btn-main);
    border: 1.5px solid var(--color-border-main);
    border-radius: 14px;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.txt-guide {
    display: flex;
    align-items: center;
    gap: 12px;
}

.map-icon {
    size: 48px;
}

.floor-txt {
    color: var(--color-text-main);
}

.fl-main {
    font-size: 18px;
    font-weight: bold;
}

.fl-sub {
    font-size: 15px;
    margin-bottom: 6px;
}

@media (min-width: 940px) {
    body {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}